
<div class="usersContainer">
	<b>User List</b>
	<div class="buttonContainer">
		<Button ng-click="newUserPage()">Add User</Button>
	</div>
	<div class="clear"></div>
</div>
<div class="userList">
	<div class="userListHeader">
		<div class="fname">First Name</div>
		<div class="lname">Last Name</div>
		<div class="phone">Phone Number</div>
		<div class="actions">Actions</div>
	</div>
	<div class="user" ng-repeat="user in users">
		<div class="fname">{{user.fname}}</div>
		<div class="lname">{{user.lname}}</div>
		<div class="phone">{{user.phone}}</div>
		<div class="actions">
			<a href="#/edit/{{user.id}}">Edit</a>
			<a href ng-click="deleteUser(user.id)">Delete</a>
		</div>
	</div>
</div>
