/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.usersContainer{
	width: 500px;
	margin-bottom: 5px;
}
.userList{
	width: 500px;
	border: 0.1em solid black;
}
.userList .userListHeader{
	width: 500px;
	border-bottom: 0.1em solid black;
}

.userListHeader div{
	display: inline-block;
	width: 120px;
	font-weight:bold;
}

.user div{
	display: inline-block;
	width: 120px;
}

.userInfo .row span{
	display: inline-block;
	width: 100px;
}

.buttonContainer{
	display: inline-block;
	float: right;
}
.clear{
	clear:both;
}

body{
	width: 90%;
	margin: 0 auto;
}